<div>
  <div>
    <h1>
      My likes
    </h1>
  </div>
</div>

<hr>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_likes.each do |a_like| %>
      <tr>
        <td>
          <%= a_like.id %>
        </td>

        <td>
          <%= a_like.photo_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_like.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_like.updated_at) %> ago
        </td>

        <td>
          <a href="photos/<%= a_like.photo_id %>">          
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
