<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>


      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Caption
        </th>

        <th>
          Image
        </th>

        <th>
          Owner
        </th>

        <th>
          Likes count
        </th>

        <th>
          Comments count
        </th>

        <th>
          Posted at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <img src="<%= a_photo.image %>" style="width:80px;height:50px;">
        </td>

        <td>
          <a href="/users/<%= a_photo.owner_id%>">
            <%= a_photo.owner.username %>
          </a>
        </td>

        <td>
          <% if a_photo.likes_count == nil %>
          <%= 0 %>
          <% else %>
          <%= a_photo.likes_count%>
          <% end %>
        </td>

        <td>
          <% if a_photo.comments_count == nil %>
          <%= 0 %>
          <% else %>
          <%= a_photo.comments_count%>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
