<div >
  <h5>
    Edit User Account
  </h5>

  <% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/modify_user" method="post">
              
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
          
      </div>
                                    
      <div>
        <label for="username_box">Username</label>
          
        <input id="username_box" name="query_username" value="<%= @current_user.username %>">
          
      </div>
                      
      <div>
        <label for="genre_box">Genre</label>
          
        <input id="genre_box" name="query_genre" value="<%= @current_user.genre %>">
          
      </div>
                      
      <div>
        <label for="age_box">Age</label>
          
        <input id="age_box" name="query_age" value="<%= @current_user.age %>">
          
      </div>
                      
      <div>
        <label for="role_box">Role</label>
          
        <input id="role_box" name="query_role" value="<%= @current_user.role %>">
          
      </div>
                      
      <div>
        <label for="time_commitment_box">Time commitment</label>
          
        <input id="time_commitment_box" name="query_time_commitment" value="<%= @current_user.time_commitment %>">
          
      </div>
                      
      <div>
        <label for="experience_box">Experience</label>
          
        <input id="experience_box" name="query_experience" value="<%= @current_user.experience %>">
          
      </div>
                      
      <div>
        <label for="sent_follow_requests_count_box">Sent follow requests count</label>
          
        <input id="sent_follow_requests_count_box" name="query_sent_follow_requests_count" value="<%= @current_user.sent_follow_requests_count %>">
          
      </div>
                      
      <div>
        <label for="received_follow_requests_count_box">Received follow requests count</label>
          
        <input id="received_follow_requests_count_box" name="query_received_follow_requests_count" value="<%= @current_user.received_follow_requests_count %>">
          
      </div>
                      
      <div>
        <label for="own_photos_count_box">Own photos count</label>
          
        <input id="own_photos_count_box" name="query_own_photos_count" value="<%= @current_user.own_photos_count %>">
          
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
