<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="username_box">Username</label>
        <input id="username_box" name="query_username" value="<%= @current_user.username %>">
      </div>
      <div>
        <label for="genre_box">Genre</label>
        <input id="genre_box" name="query_genre" value="<%= @current_user.genre %>">
      </div>
      <div>
        <label for="age_box">Age</label>
        <input id="age_box" name="query_age" value="<%= @current_user.age %>">
      </div>
      <div>
        <label for="role_box">Role</label>
        <input id="role_box" name="query_role" value="<%= @current_user.role %>">
      </div>
      <div>
        <label for="time_commitment_box">Time commitment</label>
        <input id="time_commitment_box" name="query_time_commitment" value="<%= @current_user.time_commitment %>">
      </div>
      <div>
        <label for="experience_box">Experience</label>
        <input id="experience_box" name="query_experience" value="<%= @current_user.experience %>">
      </div>
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
