<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <ul>
      <li>
        <a href="/user_sign_out">Sign out</a>
      </li>
      <li>
        <a href="/messages">My messages</a>
      </li>
      <li>
        <a href="/users/<%= @current_user.id %>">My profile</a>
      </li>
      <li>
        <a href="/photos">Homepage</a>
      </li>
    </ul>


    <p style="color: green;"><%= notice %></p>
    <p style="color: red;"><%= alert %></p>
    <%= yield %>
  </body>
</html>
